<% indentation = comment.parent_id.present? ? 'ml-8' : '' %>

<div class="relative p-4 mb-4 border-2 border-terminal-border bg-terminal-input rounded-lg shadow-sm <%= indentation %>" data-controller="comment">
  <% if comment.is_best_answer %>
    <i class="text-terminal-accent text-sm font-semibold">✨ ベストアンサー ✨</i>
  <% end %>

  <div class="flex items-center justify-between text-sm text-gray-400 mb-2">
    <span>回答者：<%= comment.user.name %></span>
    <span><%= time_ago_in_words(comment.created_at) %>前</span>
  </div>

  <article class="prose prose-invert max-w-none
                  border border-terminal-border rounded-lg
                bg-terminal-input p-6 overflow-y-auto shadow-sm
                prose-headings:text-terminal-text
                prose-a:text-terminal-accent
                prose-p: text-terminal-text
                prose-pre:bg-terminal-input
                prose-pre:text-terminal-text
                prose-code:text-terminal-text">
    <%= render_markdown(comment.content) %>
  </article>

  <div class="mt-4 flex gap-2 justify-end items-center">
    <% if current_user == post.user && !post.has_best_comment? && comment.user != post.user %>
      <%= button_to "ベストアンサーに選ぶ", set_best_comment_comment_path(comment), method: :patch, class: "btn-terminal-accent" %>
    <% end %>

    <% if current_user && current_user.id == comment.user.id %>
      <%= link_to "削除", post_comment_path(post, comment), data: { turbo_method: :delete, confirm: "本当に削除しますか？" }, class: "btn-terminal-danger" %>
    <% end%>

    <button data-action="click->comment#toggleReply" class="btn-terminal">
      返信
    </button>
  </div>

  <div data-comment-target="replyFormContainer" class="mt-4 hidden">
    <%= render "comments/form",
          post: post,
          comment: Comment.new,
          parent_comment: comment %>
  </div>

  <% if comment.replies.any? %>
    <div class="mt-4">
      <% comment.replies.each do |reply| %>
        <%= render partial: 'comments/comment', locals: { comment: reply, post: post } %>
      <% end %>
    </div>
  <% end %>
</div>
