<h1>編集</h1>
<%= form_with model: @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit '更新' %>
<% end %>
<%= link_to "戻る", root_path %>