<h3>タイトル：<%= @post.title %></h3>
<% if @post.thumbnail.attached? %>
  <%= image_tag @post.thumbnail.variant(resize_to_limit: [200, 100]), alt: @post.title %>
<% end %>
<p>内容：<%= @post.content %></p>
<p>投稿者：<%= @post.user_id %></p>
<% if @post.tags.any? %>
  <p>タグ：<%= @post.tags.map(&:name).join(', ') %></p>
<% end %>
<% if current_user && current_user.id == @post.user_id %>
  <%= link_to "編集", edit_post_path(@post) %>
<% end%>
<%= link_to "戻る", root_path %>